body {
    margin: 0;
    overflow: hidden;
    background: #2D1E19; /* Fondo más oscuro para resaltar UI */
    color: white;
    font-family: 'Roboto', sans-serif;
}

canvas { display: block; cursor: default; }

/* Layout Superior */
#ui-top {
    position: absolute;
    top: 0; left: 0; right: 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    pointer-events: none; /* Dejar pasar clicks al canvas */
}

#ui-info, #ui-system { pointer-events: auto; } /* Reactivar clicks en botones */

#ui-info {
    background: rgba(0,0,0,0.6);
    padding: 10px 20px;
    border-radius: 8px;
    border-left: 4px solid #4CAF50;
}

/* Barra de Herramientas Inferior */
#toolbar-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
    background: rgba(30, 25, 25, 0.95);
    padding: 10px 20px;
    border-radius: 12px;
    border: 1px solid #5d4037;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

.tool-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.tool-group small {
    font-size: 0.7rem;
    color: #aaa;
    letter-spacing: 1px;
}

.btn-row { display: flex; gap: 5px; }

/* Botones Genéricos */
button {
    cursor: pointer;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 0.9rem;
    transition: all 0.1s;
    background: #4E342E;
    color: #ccc;
    border: 1px solid #3E2723;
}

button:hover { background: #6D4C41; color: white; }

/* Estilo para Herramienta ACTIVA */
.btn-tool.activo {
    background: #FFB74D;
    color: #3E2723;
    border-color: #FF9800;
    box-shadow: 0 0 10px rgba(255, 152, 0, 0.4);
    transform: translateY(-2px);
}

/* Botones Especiales */
.btn-red:hover { background: #D32F2F; color: white; }
.btn-red.activo { background: #D32F2F; color: white; border-color: #ff5252; }

.btn-action { background: #4CAF50; color: white; }
.btn-action:active { transform: scale(0.95); }

.btn-danger { background: #c62828; color: white; }